{% extends "layouts/default.html" %}

{% block content %}

<div class="section">

	<div class="left">
		<div class="loop-content">
			<div class="article-title">
				<a href="#"><h1>{{entry.section.title}}</h1></a>
				<i>{{entry.section.name_and_date}}{{entry.created_at}}</i>
			</div>

			<div class="image">
				<img src="{{getAssetUrl(entry.section.image)}}" alt="Image" />
			</div>

			<div class="containt">
				{{entry.section.content}}
			</div>

		</div>

	</div>

	<div class="right">

		{% include "partials/side_bar.html" %}

	</div>

</div>

{% endblock %}
