{% extends "layouts/default.html" %}

{% block content %}

<div class="section">

	<div class="left">

		{% for content in entry.section %}
		<div class="loop-content">
			<div class="article-title">
				<a href="/blog-details"><h1>{{content.title}}</h1></a>
				<i>{{content.name_and_date}}{{entry.created_at}}</i>
			</div>

			<div class="image">
				<img src="{{getAssetUrl(content.image)}}" alt="Image" />
			</div>

			<div class="containt">
				{{content.content}}
			</div>

		</div>
		{% endfor %}

	</div>

	<div class="right">

		{% include "partials/side_bar.html" %}

	</div>

</div>

{% endblock %}
