<html>
<head>
</head>
<body>
<form name="form" action="http://127.0.0.1:8081/process_get" method="get">
    <tr>
        <td> Your Name:</td>
        <td><input type="text" name="name" required></td>
    </tr></br>
    <tr>
        <td> Mobile No:</td>
        <td><input type="text" name="phone" required></td>
    </tr>
    <tr></br>
        Email :       <input type="email" name="email" required></br>
        <td></td></br>
        <input name="gender" type="radio" value="Male" /> Male
        <input name="gender" type="radio" value="Female" /> Female</br>


    </tr>


    <td><input type="submit" name="sub" value="Submit"></td>
</form>
</body>
</html>