

/*###################################################################################*/

.header-wrapper {
    padding: 2px;
    margin: 2px;

    font-size: 100%;
}
.section-wrapper {
    padding: 2px;
    margin: 2px;
    float: left;
    width: 60%;
}
.side-bar-wrapper {
    padding: 2px;
    margin: 2px;
    float: right;
}
.footer-wrapper{
    padding: 2px;
    margin: 52px;
}