/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/
/*/!* HTML5 display-role reset for older browsers *!/*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/
/*body {*/
    /*line-height: 1;*/
/*}*/
/*ol, ul {*/
    /*list-style: none;*/
/*}*/
/*blockquote, q {*/
    /*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
    /*content: '';*/
    /*content: none;*/
/*}*/
/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/

/*****************************/

.wrapper {
    height: auto;
    width: 100%;
    padding: 2px;
    background-color: linen;
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;
}
.header {
    padding: 2px;
    margin-bottom: 45px;
}

.header-title {
    /*background-color: #fff;*/
    color: red;
    float: left;
    padding: 1px;
    margin: 20px 0 30px 0;
}
.header-title h1  {
    padding: 0px;
    margin-bottom: 0px;
}
.header-title h3 {
    padding: 3px;
    margin-top: 0px;
}

.header-menu {
    background-color: #000;
    padding: 20px;
    clear: both;
}
.header-menu ul li{
    display: inline-block;
    padding: 0 30px 0 0;

}
.header-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.section{
    padding: 2px;
    margin: 10px;
    overflow: auto;
    display: inline-block;
    /*background-color: linen;*/
}

.left {
    width: 65%;
    float: left;
    padding: 2px;
    margin: 5px;
}
.article-title {
    padding: 2px;
    margin-bottom: 15px;
}
.article-title a {
    text-decoration: none;
    color: black;
}
.article-title h1{
    padding: 2px;
    margin-bottom: 0px;
}
.article-title i {
    padding: 3px;
    margin-top: 0px;
}
.image {
    padding: 2px;
    /*margin-right: 10px;*/
    margin: 0 20px 2px 5px;
    float: left;
    width: 194px;
}
.image img{
    width: 100%;
}
.containt{
    padding: 0px;
    margin: 5px;
}
.right {
    width: 30%;
    float: right;
    padding: 2px;
    margin: 5px;
}
.nav-title {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #5A5353;

}
.nav-link ul li{
    padding: 2px;
    margin: 2px;
    list-style-type: square;
}
.nav-link ul li a {
    /*color: #000;*/
    text-decoration: none;
}
/*.loop-content {*/
    /*margin-bottom: 50px;*/
/*}*/
.sidebar-sec{
    margin: 40px 0 0 0;
}
.sidebar-sec:first-child{
    margin:0;
}
footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    margin: 10px;
}